body, html{
    scroll-behavior: smooth;
}

.parallax {
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    position: relative;
    justify-content: center;
    height: 900px;
}

.modelS {
    
    background-image: url(/public/model-s.jpg);
}

.model3 {
    top: 900px;
    background-image: url(/public/model-3.jpg);
}

.modelx{
    top: 900px;
    background-image: url(/public/model-x.jpg);
}

.modely{
    top: 900px;
    background-image: url(/public/model-y.jpg);
}

.top-bar {
    z-index: 1;
    position: fixed;
    width: 100%;
    padding-top: 0;
    letter-spacing: 0.1rem;
    font: 600 1rem "Open-Sans", sans-serif;
    background: none;
}

.logo {
    position: absolute;
}

.top-bar menu {
    font-size: 26px;
    color: transparent;
    background-color: transparent;
}

.menu-control {
    margin-top: 0.6rem;
}

.top-bar ul {
    background-color: transparent;
}

.hero {
    z-index: 1;
    height: 100%;
    position: fixed;
    width: 100%;
    letter-spacing: 0.2rem;
    margin-top: 7rem;
}

.hero h2 {
    color: var(--gray);
    font-weight: bold;
    font-size: 40px;
}

.lead {
    letter-spacing: 1px;
    margin-top: -0.5rem;
    font-size: 12px;
    margin-bottom: 18rem;
}

.lead span{
    color: var(--gray-light);
}

.lead a{
    text-underline-offset: 4px;
    color: var(--gray);
    text-decoration: underline;
    transition: 0.2s;
}

.lead a:hover{
    font-size: 16px;
    color: var(--black);
    text-decoration: underline;
}

.button-control a{
    text-align: center;
    border-radius: 30px;
    margin: 5rem;
}

.button-control a:first-child {
    background-color: rgba(0, 0, 0, 0.8);
}

.button-control a:last-child {
    color: var(--black);
    background-color: rgba(255, 255, 255, 0.8);
    
}

.teste {
    display: block;
    background-image: url("/public/model-3.jpg");
}

html:not([data-scroll='0']) .hero{
    color: red;
  }